# Arquivos de ambiente virtual
venv/
env/
*.pyc
*.pyo
*.pyd
__pycache__/
*.pdb
*.egg-info/
dist/
build/

# Configurações do sistema operacional
.DS_Store
Thumbs.db

# Configurações de IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs e arquivos temporários
*.log
*.tmp
*.bak

# Arquivos de cache
*.cache
*.pickle
*.pkl
*.csv
resultados gerais c cluster.txt
resultados gerais teste c 15 imagens.txt

# Dependências geradas por Poetry ou Pipenv 
poetry.lock
Pipfile.lock

# Arquivos de execução e segurança
*.env
.env.*
instance/

# imagem de exemplo
faces/
cluster/
9At/
faces_recognizeds/
teste_reconhecimento/
imagens_to_recognized/
points/
sort_faces_recognizeds/